* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 0 4rem;
}

header {
    font-size: 2.5rem;
    padding: 2rem 4rem;
    background-color: #0a3d62;
    color: white;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    border-radius: 10px;
}

nav {
    background-color: #2f3c48;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
    border-radius: 8px;
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding:15px;
    padding-bottom:5px;
    border-bottom:3px solid transparent;
    margin-right: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.5s ease;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li:hover {
    color: #56b8ff;
    border-bottom: 3px solid #56b8ff;
}


main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

article {
    flex: 0 0 70%;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.boldHeader {
    font-weight: bold;
    font-size: 2rem;
    color: #0a3d62;
    margin-bottom: 1.5rem;
}

article > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.articleContent {
    font-size: 1.2rem;
    color: #666;
}

.imgContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.03);
}

aside {
    flex: 0 0 25%;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

aside .boldHeader {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #0a3d62;
}

aside p {
    font-size: 1.1rem;
    color: #555;
}

@media (max-width: 768px) {
    body {
        padding: 2rem;
    }

    main {
        flex-direction: column;
        padding: 0;
    }

    article {
        flex: 1 1 100%;
    }

    aside {
        flex: 1 1 100%;
    }
}
